body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 50px;
    font-weight: 200;
    font-size: 60px;
}

tbody tr:hover{
    cursor: pointer;
    background-color: #ccc;
}

#map { 
    height: 500px; 
    width: 70%;
    margin-bottom: 50px;
}

#locations {
    width: 70%;
}

#third-col {
    width: 15%; 
    text-align: right;
}

#first-col {
    width: 25%;
}

#locations td:nth-child(3) {
    text-align: center;
}